# {{ repo }}

Non-Python data files required to use the {{ name }} with
[LiteX](https://github.com/enjoy-digital/litex.git).

The data files can be found under the Python module `{{ py }}`. The
`{{ py }}.location` value can be used to find the files on the file system.
For example;

```python
import {{ py }}

my_data_file = "abc.txt"

with open(os.path.join({{ py }}.location, my_data_file)) as f:
    print(f.read())
```

The data files come from {{ src }}
and are imported using `git subtrees` to the directory
[{{ dir }}]({{ dir }}].

## Installing

## Manually

You can install the package manually, however this is **not** recommended.

```
git clone {{ repo_https }}
cd {{ repo }}
sudo python setup.py install
```

## Using [pip](https://pip.pypa.io/)

You can use [pip](https://pip.pypa.io/) to install the data package directly
from github using;

```
pip install --user git+{{ repo_https }}
```

If you want to install for the whole system rather than just the current user,
you need to remove the `--user` argument and run as sudo like so;

```
sudo pip install git+{{ repo_https }}
```

You can install a specific revision of the repository using;
```
pip install --user git+{{ repo_https }}@<tag>
pip install --user git+{{ repo_https }}@<branch>
pip install --user git+{{ repo_https }}@<hash>
```

### With `requirements.txt` file

Add to your Python `requirements.txt` file using;
```
-e git+https://github.com/litex-hub/{{ repo }}.git
```

To use a specific revision of the repository, use the following;
```
-e https://github.com/litex-hub/litex-data-vexriscv.git@2927346f4c513a217ac8ad076e494dd1adbf70e1
```

